<% provide(:title, 'questions') %>
<h1>All questions</h1>
  <% @question.each do |question|  %>
     <ol class="questions">
        <li><%= question.description %></li>
        <!--<li><%# question.answer %></li>-->
        <li><%= link_to "challange this quiz", new_challenge_path(:question_id => question.id) %></li>
     </ol>
  <% end %>
