<% if logged_in? %>
  <div class="row">
    <aside class="col-md-6">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class=question_form">
        <div>create a quiz</div>
        <%= render 'shared/question_form' %>
      </section>
    </aside>

    <div class="col-md-6">
      <h3>Where am I going?</h3>
      <%= render 'shared/instruction' %>
    </div>

<% else %>
  <% provide(:title, "Home") %>
  <h1>Quiz Master</h1>

  <div class="center jumbotron">

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

  </div>
<% end %>
