  <ol class="questions">
    <li>In Quiz Master, you can <strong>challenge quiz</strong> and <strong>create your own quiz</strong>. </li>
    <li>To challenge a set of quiz others have prepared, go to "Challenge!" and choose your quiz.</li>
    <li>To create your own quiz, use a form on the left, or go to "Manage Your quiz".</li>
  </ol>
