<ul classes="notes">
<li>any integers less than 999,999 can be written either in numeric representation("nine hundred")</ii>
<li>use hyphen to denote the number such as 33 ("thirty-three")</li>
<li>multiple space charaters are trimmed</li>
</ul>
